body    {
    background-image: url(../images/galaxy.jpg);
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    align-content: center;
    color: whitesmoke;
}

h1  {
    text-align: center;
}

img {
    max-height: 150px;
}

form,
.nerdBtn {
    background-color: #474747;
    color: white;
}

form {
    padding: 10px;
}

#nerdInput {
    color: black;
}

.ratingStyle {
    color: white;
    background-color: black;
}

#add-gif {
    background-color: azure;
    color: #474747;
    border: none;
}

input {
    margin: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#nerd-button {
    margin: 10px;
}

.nerdBtn {
    padding: 6px;
    margin: 3px;
}

#giphyLogo {
    margin: 20px;
}